# dependencies
.node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/**/dist/
**/**/node_modules/
.idea

.firebase

.runtimeconfig.json

# compiled output
/dist

# Logs
logs
*.log
lerna-debug.log*

# Tests
/.nyc_output

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

storybook-static
*.sqlite